<html>
<pre><code>
Welcome to Clup
    __       __
    / <`     '> \
   (  / @   @ \  )
    \(_ _\_/_ _)/
  (\ `-/     \-' /)
   "===\     /==="
    .==')___(`==.
   ' .='     `=.
</code></pre>

<form method="post" action="register">
    <div class="container">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Register</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>
</form>
<form method="post" action="login">
    <div class="container">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>
</form>

</html>